<div class="nav">
  <ul>
    <li> <a href="#/user">User Home </a> </li>
    <li> <a href="#/terminal">Gameplay Terminal </a> </li>
    <li> <a href="#worlds">World List</a> </li>
    <li> <a href="#/create">Create Mode </a> </li>
    <li> <a href="#/worldHome">World Home </a> </li>
    <li> <a href="#/newLoc">New Location </a> </li>
    <li> <a href="#/existingLoc">Edit Current Location </a> </li>
    <li> <a href="#/newItem">New Item </a> </li>
    <li> <a href="#/existingItem">Edit Current Location </a> </li>
  </ul>
</div>
