<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="login.message != ''">{{login.message}}</h1>
  <h1 class="lead alert alert-success" role="alert" ng-show="login.newUser === true">{{login.newUserMessage}}</h1>
  <form ng-submit="login.registerUser()">
    <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="login.user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="login.user.password" />
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>

</div>
