<div ng-include="'views/partials/usernav.html'"></div>
<div class="container">
<!-- display all current room properties -->
  <h2>{{location.locationsObject.curLoc.locName}}</h2>
  <p>{{location.locationsObject.curLoc.locShortDesc}}</p>
<!-- populate a list of current sights -->
  <div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-12">
      <h4>Sights (click to edit): </h4>
      <div ng-repeat="sight in location.locationsObject.curLoc.sights">
        <p >{{sight.keyword}}</p>
      </div>
      <span class="glyphicon glyphicon-plus" ng-click="location.addSight()"></span>

    </div>
    <div class="col col-lg-8 col-md-8 col-sm-12">
      <div ng-show="location.editSightView">
      <h4>Edit Sight:</h4>
      <form class="form-horizontal" ng-submit="location.updateSight(location.locationsObject.curLoc.curSight)">
        <div class="form-group">
          <label for="keyword" class="col-sm-2 control-label">Keyword:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="keyword" placeholder="{{location.locationsObject.curLoc.curSight.keyword}}" ng-model="location.locationsObject.curLoc.curSight.keyword">
          </div>
        </div>
        <div class="form-group">
          <label for="response" class="col-sm-2 control-label">Look response:</label>
          <div class="col-sm-10">
            <input type="textarea" class="form-control" id="response" placeholder="{{location.locationsObject.curLoc.curSight.sightDesc}}" ng-model="location.locationsObject.curLoc.curSight.sightDesc">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="location.locationsObject.curLoc.newSight.isImportant"> Check if this sight is important to the story (not seen by players)
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Edit</button>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="location.addSightView">
      <h4>Add Sight:</h4>
      <form class="form-horizontal" ng-submit="location.addSightToLoc(location.locationsObject.curLoc.newSight)">
        <div class="form-group">
          <label for="keyword" class="col-sm-2 control-label">Keyword:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="keyword" placeholder="keyword" ng-model="location.locationsObject.curLoc.newSight.keyword">
          </div>
        </div>
        <div class="form-group">
          <label for="sightDesc" class="col-sm-2 control-label">Look response:</label>
          <div class="col-sm-10">
            <input type="textarea" class="form-control" id="sightDesc" placeholder="response" ng-model="location.locationsObject.curLoc.newSight.sightDesc">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="location.locationsObject.curLoc.newSight.isImportant"> Check if this sight is important to the story (not seen by players)
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add</button>
          </div>
        </div>
      </form>
    </div>
      </div>
<!-- populate a list of current location objects -->
<!-- populate a list of current location characters -->
<!-- populate a list of current location exits -->
<!-- populate a list of current location eventListeners -->
</div>
