<div ng-include="'views/partials/usernav.html'"></div>

<div class="container">
  <h2>Your Location Creation Station</h2>
    <form ng-submit="location.locationCreator(location.newLoc)">
        <div class="form-group">
            <label for="locName">Title Your Location:</label>
            <input type="text" class="form-control" id="locName" ng-model="location.newLoc.locName">
        </div>
        <div class="form-group">
            <label for="shortDesc">a Short Description:</label>
            <input type="text" class="form-control" id="locShortDesc" ng-model="location.newLoc.locShortDesc">
        </div>
        <div class="form-group">
            <label for="locDesc">Full Description:</label>
            <input type="text" class="form-control" id="locDesc" ng-model="location.newLoc.locDesc">
        </div>
        <div class="form-group">
            <label for="locNotes">Location Notes (not visible during gameplay):</label>
            <input type="text" class="form-control" id="locNotes" ng-model="location.newLoc.locNotes">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>

</div>
