<div ng-include="'views/partials/usernav.html'"></div>
<h1 class="lead alert alert-danger" role="alert" ng-if="worlds.messageObject.message != ''">{{worlds.messageObject.message}}</h1>
<div class="container">
  <h2>Your Worlds:</h2>

  <div class="row" id="worlds">
    <div class="col col-lg-4 col-md-4 col-sm-12" id="worldNames">
      <h4><strong>Worlds:</strong></h4>
      <p>(click to see description)</p>
        <div ng-repeat="world in worlds.worldsObject.curWorlds">
            <p ng-click="worlds.displayDesc(world)">{{world.worldName}}</p>
        </div>
      <span class="glyphicon glyphicon-plus" ng-click="worlds.addWorld()"></span>
    </div>
    <div class="col col-lg-8 col-md-8 col-sm-12" id="worldDetail">
        <h3>{{worlds.worldsObject.curWorld.worldName}}</h3>
        <p>{{worlds.worldsObject.curWorld.shortDesc}}</p>
        <p ng-show="worlds.worldsObject.curWorld.author">created by: <strong>{{worlds.worldsObject.curWorld.author}}</strong></p>
        <span class="glyphicon glyphicon-pencil" ng-click="worlds.editWorld(worlds.worldsObject.curWorld)" ng-show="worlds.worldsObject.curWorld.worldName">
    </div>
  </div>
</div>
